@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

img {
    max-width: 100%;
    height: auto;
    image-rendering: auto;
}

html,body{
    width:100%;
    overflow-x:hidden;
    font-size:100%;

    }
.lotti{
  padding: 0 30rem 30rem;
}
section{
    width: 100%;
    height: auto;
}



.row{
    flex-direction: row;
}


h1 {
    font-size: 55px;
    text-transform: uppercase;
} 


/* LOADER */
    .loader-container{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        width: 100%;
        height: 100%;
        background-color: #fff;
        transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
    }
    .loader-container.hidden{
      opacity: 0; 
      visibility: hidden;

}

    .loader{
        width: 120px;
        height: 120px;
        border: 16px solid #e5e5E5;
        border-top: 16px solid #111111;
        border-radius: 50%;
        box-shadow: 0 0 6px 2px rgb(0, 0, 0, 0.2);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
        animation: loader 1s linear infinite;
    }

    @keyframes loader{
        
        100%{
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }


    
    html:not(.no-js) [data-aos^=fade][data-aos^=fade] {
       padding-right: 20px;

    }


/*---------- Barre de navigation -------------*/

.navbar-light {
    background-color: black !important;
    color: white !important;
}

.navbar-nav{
    margin: 26px;
    
}

.nav-item{
    text-transform: uppercase;
}

.couleur_texte_nav{
    color: white !important;
}

.navbar-light .navbar-toggler{
    border-color: white;
}

.navbar-light .navbar-toggler-icon{
    color: #fff !important;
}


/*----------------Fin barre de navigation----------------------*/






.btn-lg {
    
    font-weight: 300;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #111111;
    border-color: #111111;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #fff;
     background-color: #000; 
     border-color: #000; 
}

.content-box{
    min-height: 90vh;
    width: 100%;
    height: 100%;

}



.acueil{
    background-color: #030202;
    color: white;
    min-height: 20vh;
    width: 100%;
    height: 100%;

}
.acueil p{
    padding-top: 20px;
}
.acueil .box-text{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    margin-left: 10px;
    padding-left: 2%;
    margin-bottom: 1%;


}


.container_accueil {
    display: flex;
    flex-direction: row;
}


.box-1{
    flex-direction: row;
}



.img-thumbnail{
    border: none;
}


.part2{
    background-color: #030202;
}
hr
{
border-top: 1px solid #fff;
width : 100%;
}

.box_part1{
    display: flex;
    margin-top: 50px;
}


.col-sm {
    flex-direction: row;
}
.col-sm h2{
    font-family: 'Poppins', sans-serif;

    
}

/* SECTION PROJET */

 h2{
    text-transform: uppercase;
    font-size: 43px;
    font-family: 'Poppins', sans-serif;
    padding: 2rem;

} 



section .projet{
    height: 100vh;
    margin-top: 30PX;
}



/* SLIDE */


 .swiper-container {
	width: 100%;
    margin-top: 10%;
	height: 28vw;
    
	transition: opacity .6s ease;
}

.swiper-container.swiper-container-coverflow {
	padding-top: 2%;
}

.swiper-container.loading {
	opacity: 0;
	visibility: hidden;
}

.swiper-container:hover .swiper-button-prev,
  .swiper-container:hover .swiper-button-next {
	transform: translateX(0);
	opacity: 1;
	visibility: visible;
}

.swiper-slide {
	background-position: center;
	background-size: cover;
 
}

.swiper-slide .entity-img {
	display: none;
}

.swiper-slide .content {
	position: absolute;
	top: 50%;
	left: 0;
	width:50%;
	padding-left: 5%;
	color: rgb(255, 255, 255);
}

#caption_modif {
    color: rgb(0, 0, 0);
    text-align: justify;

}

.swiper-slide .content .title {
	font-size: 2.6em;
	font-weight: bold;
	margin-bottom: 30px;
}

.swiper-slide .content .caption {
	display: block;
	font-size: 13px;
	line-height: 1.4;
}

[class^="swiper-button-"] {
	width: 44px;
	opacity: 0;
	visibility: hidden;
}

.swiper-button-prev {
	transform: translateX(50px);
  
}

.swiper-button-next {
	transform: translateX(-50px);
}
 




/* SECTION  ALTERNANCE */
.container_seo {
    display: flex;
}
.side {
    display: flex;
    flex-direction: column;
}
.img_seo {
    display: block;
    margin: 5px;
    height: auto;
    padding-right: 25px;
}

    
    


.part_alternance{
    width: 100%;
    height: auto;
    background-color: #030202;
    color: #fff;
    margin-top: 30vh;
    padding-bottom: 2rem;
}


.part_alternance p {
text-align: justify right;   
 margin: 5rem ;
}

.part_alternance h2 {
    padding: 2rem;
}



.image_mariage{
    padding-bottom: 59px;

}

/* SECTION COMPETENCES */

.competences {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;

}

.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box ; 
}

.box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border-radius: 3px solid black;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, rgb(36, 34, 34) 50%, white 50%);
    background-size: 100% 200%;
    transition: all .8s;
}

.box:hover{
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px rgb(36, 34, 34);
}




    ul  {
        list-style-type: none;
       
      }

li{
    margin: 10px;
}




/* SECTION BILAN  */

.bilan {
    width: 100%;
    height: 220px;
    background-color: #030202;
    color: #fff;
}   


.bilan p {
    text-align: justify;
    padding-left: 18px;

    
}


.icon {
 margin-right: 1rem;
 
}

/* SECTION CONTACT */



.contact{
    background-color: #030202;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    padding-top: 10vh;
    
}

.head{
    border-radius: 5px;
    background-color: #a1a1a1;
    margin-top: -40px;

}

.effect-1{
    border: 0;
    outline: none;
    width: 100%;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
}

.effect-1 ~ .Focus-border{
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #111111;
    transition: 0.4s;

}

.effect-1:focus ~ .Focus-border{
   width: 100%;
   transition: 0.4s;
   left: 0;

}

.btn1{
    background: #a1a1a1;
    color: #fff;
    outline: none;
    border-radius: 5px;
    height: 40px;
    width: 155px;
}

.block_social p {
    color: #fff;
    text-align: center;
    padding-top: 25px;
} 




.social > ul {
    display: inline-flex;
}

.social ul li a {
    color: #fff;
    display: inline-block;
    height: 50px;
    transition: all 0.4s ease 0s;
    width: 30px;
    text-align: center;


}

/* FOOTER */

section, footer {
    background: #fff;
    color: #111111;
}

footer p {
    padding: 40px 0;
    text-align: center;
}



/* MEDIA QUERIES */


 @media (min-width:976px){
    /* .navbar  {
        float: right; 
     } */

   
     .acueil .box-text{
        
        padding:5%;
    
    } 
 }

 @media screen and (min-width: 769px) and (max-width: 1024px){
    .swiper-container {
        width: 100%;
        height: 55vw;
        
        transition: opacity .6s ease;
    }

    .box-text{
        width: 100%;
    }
    /* html:not(.no-js) [data-aos^=fade][data-aos^=fade] {
        margin-top: 40vh;
      
    } */
    h1{
        font-size: 50;
    }

 }







/* TABLETTES */



@media screen and (min-width: 480px) and (max-width: 768px) {
    .acueil .box-text{
        
        padding-right: 20px;
        margin-bottom: 8rem;
    
    } 
    .container_seo{
        display: flex;
        flex-direction: column;
        padding: 15px;
    }


    p{
        font-size: 15px;
    }

    .swiper-container {
        width: 100%;
        height: 55vw;
        
        transition: opacity .6s ease;
    }

    html:not(.no-js) [data-aos^=fade][data-aos^=fade] {
        margin: 0 AUTO;
      
    }

    
    .container_accueil{
        flex-direction: column-reverse;
        display: flex;
    }

    h2{
        font-size: 30px;
    }

    .swiper-slide{
        width: auto;
        height: 100%;
    }

    .swiper-slide .content .caption {
        display: block;
        line-height: 1.4;
    }
    #caption_modif_blanc{
        display: none;
    }

    #caption_modif{
        display: none;
    }

    
}

/* IPHONE */

@media (min-width:320px) and (max-width: 480px) {
    h2{
        font-size: 30px;
    }
    .acueil p{
        text-align: justify;
    }

    h1{
        padding-top: 40px;
        font-size: 39px;
        text-align: center;
    }

    #caption_modif {
        display: none;
    }

     #caption_modif_blanc  {
        display: none;
    } 

    .container{ 
        margin-top: 55px;
    }

    .bilan p {
        padding:15px;
    }

    .social > ul {
        display: inline-flex;
        margin-left: 92px;
    }


   .acueil p {
    padding: 10px;
    }
    p {
        font-size: 15px;
        text-align: center;
    }

    .acueil .box-text{
        
        padding-right: 17px;
        margin-bottom: 8rem;
    
    } 
    .swiper-button-prev {
        transform: translateX(50px);
        width: 25px;
        height: 25px;
      
    }
    
    .swiper-button-next {
        transform: translateX(-50px);
        width: 25px;
        height: 25px;
    }
     

    .container_accueil{
        flex-direction: column-reverse;
        display: flex;
    }

   .box-1{
      display: none;
}
    .container_seo{
        display: flex;
        flex-direction: column;
        padding: 15px;
    }

    .swiper-container {
        width: 100%;
        height: 100vw;
        margin-top: 20vh;
        transition: opacity .6s ease;
    }
    
}



/* IPAD */

@media screen and (min-width: 720px) and (max-width: 768px) {

    h1{
        font-size: 40px;
        margin-right: 9px;
    }

    .container h2{
        font-size: 30px;
    }

  
    .col-sm {
       padding: 0;
       margin: 0;
    }

    #caption_modif {
        display: none;
    }

     #caption_modif_blanc  {
        display: none;
    } 
}




